@import "tailwindcss";

/* Lock the app to dark mode */
:root {
  --background: #050B08;
  --foreground: #ededed;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
